* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart {
    position: relative;
    /* background-color: #fff;
    color: #212529; */
    background-color: #212529;
    color: white;
    font-size: 32px;
    padding: 5px;
    /* border-radius: 3px; */
    transition: .3s ease-in-out;
}
.cart:hover {
    transform: scale(0.95);
}

.cartAmount {
    position: absolute;
    top: -9px;
    right: -7px;
    font-size: 12px;
    background-color: red;
    color: white;
    padding: 2px;
    border-radius: 3px;
}

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width:1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}

.item {
    border: 1px solid #212529;
    border-radius: 8px;
}
.item img {
    width: 100%;
    border-radius: 8px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.fa-minus {
    color: red;
    transition: .2s ease-in-out;
}
.fa-minus:hover {
    transform: scale(.9);
}

.fa-plus {
    color: green;
    transition: .2s ease-in-out;
}
.fa-plus:hover {
    transform: scale(1.1);
}

/* cart JS  */
.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: .2s ease-in-out;
}
.checkout{
    background-color: rgb(51, 146, 51);
}
.checkout:hover {
    transform: scale(0.95);
}
.removeAll{
    background-color: red;
}
.removeAll:hover{
    transform: scale(0.95);
}
.HomeBtn:hover{
    transform: scale(0.95);
}
.fa-xmark {
    color: red;
    font-weight: bold;
    transition: .2s ease-in-out;
}
.fa-xmark:hover {
    transform: scale(1.2);
}

/* style shopping cart */
.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

.cart-item {
    border: 1px solid #212529;
    border-radius: 5px;
    display: flex;
}

.title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-price {
    display: flex;
    align-items: center;
}

.cart-item-price {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
    margin-left: 10px;
}
.fa-bag-shopping{
    transition: color .3s ease-in-out;
}
.fa-bag-shopping:hover {
    color: tomato;
}
.fa-cart-shopping{
    transition: color .3s ease-in-out;
}
.fa-cart-shopping:hover {
    color: rgb(51, 146, 51);
}
