*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body { 
  background: #333;
  align-items: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 10px;


    
  }

  .card:hover {
      background: linear-gradient(45deg,#ff357a, #fff172);
 
  }

  .card h2 {
    margin-top: 0;
    
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: bold;
  }
