/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Raleway' , sans-serif;
}
nav {
    height: 50px;
    
}
/* nav {
    height: 50px;
    background-color: #494747;
    text-align: center;
    line-height: 50px;
    font-size: 0;
} */

/* nav li {
    display: inline-block ;
} */
/* nav li a {
    padding: 0 50px;
    color: rgb(168, 26, 26);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color .3s;
   
} */
/* nav li a:hover {
    color: rgb(10, 113, 172);
} */ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway' , sans-serif;
}
.nav {
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
}
.nav-item {
    display: inline-block;
}

.nav-item a {
    padding: 0 50px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color .3s;
}
.nav-item a:hover {
    color: rgb(32, 172, 153);
}
.header-img {
    position: relative;
    height: 300px;
    background-image:url('img/caucasus-5299607_1920.jpg') ;
    background-size: cover;
    background-position: 0 30%;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 5;
}
.header-text h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}
.header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 3, 27, 0.4);
}
footer {
    height: 80%px;
    line-height: 80px;
    background-color: #333;
    color: #ddd;
    text-align: center;
    font-size: 20px;
}
.icon-box {
    margin-left: 20px;
}

.icon-box a {
   margin: 0 5px;
    color: white;
    font-size: 30px;
    transition: color .3s;
}
.icon-box a :hover {
    color: rgb(32, 172, 153)
}
main {
    margin: 50px auto;
    width: 1200px;
}
main h2 {
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
}
.about-us-box {
    margin: 40px 0;
    position: relative;
    height: 300px;
    background-position: 0 30%;
    background-position: center;
    background-attachment: fixed;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;

}
.top {
    background-image: url(img/coffee-4334647_1920.jpg);
}
.middle {
    background-image: url(img/workspace-1280538_1920.jpg);
}
.bottom {
    background-image: url(img/iphone-2390121_1920.jpg);
}
.about-us-text{
    position: absolute;
    bottom: 20px;
    padding: 20px 40px;
    text-align: center;
    color: #ddd;

}
.about-us-bg{
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    background-color: rgb(0, 0, 0, .8);
}
.about-us-text h3 {
     margin-bottom: 10px;
     text-transform: uppercase;
}
 /* //usługi */
.services-list {
   margin: 0 auto;
   width: 200px;
}
/* //kontakt */
.contackt-info{
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    
}
/* //cennik */
/* .cennik-list {
    margin: 0 auto;
    width: 300px;
} */
.prices-table {
    margin: 0 auto;
}
.prices-table td{
    padding: 10px 30px;
}