*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #2196f3, #ff4685);
}
.container{
    position: relative;
    padding: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.25);
}
.container .inputBox {
    position: relative;
    width: 350px;
}
.container .inputBox input {
    position: relative;
    padding: 8px 10px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
}