@mixin addons {
    border-radius: 25px;
    background-color: gold;
}
@mixin color($bg-color){
    background-color: $bg-color;
}

@mixin size($size){
    height: $size;
    width: $size;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
    font-family: sans-serif;
}

@mixin test { 
    border: 5px solid black; 
    @include size(100px);
    @include addons;
    margin: 30px;
    padding: 20px;
    border: 5px solid black;
    display: flex;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.square1{
    @include test;
}
.square2{
    @include test;
}
.square3{
    @include test;
}