* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 74px;
}

body {
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  background-color: #ebecf2;
}

.blue-text {
  color: #039dff;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}

.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: #039dff;
}

nav {
  text-transform: uppercase;
  transition: background-color 0.6s;
  z-index: 5;
}
nav .navbar-brand,
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show,
nav .navbar-toggler,
nav .nav-link .fa-bars {
  color: #fff;
  text-transform: uppercase;
}
nav .nav-link {
  color: #fff;
}
nav .navbar-brand:hover {
  font-weight: bold;
  color: #039dff;
}
nav .navbar-toggler {
  padding: 10px 15px;
  transition: 0.4s;
}
nav .navbar-toggler:hover {
  color: #039dff;
}

.nav-link:focus,
.nav-link:hover {
  color: #039dff;
  transition: 0.5s;
}

.hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/network-2402637_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  z-index: 0;
}
.hero-img h1 {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-img .hero-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -5;
}
.hero-img .hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}
.hero-img .fa-chevron-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  font-size: 30px;
  color: #fff;
}

.aboutus i {
  margin-top: 20px;
  font-size: 30px;
}
.aboutus .aboutus-card-title {
  font-size: 18px;
  text-transform: uppercase;
}
.aboutus .aboutus-card-text {
  font-size: 14px;
}
.aboutus .aboutus-hover {
  transition: color 0.4s;
}
.aboutus .aboutus-hover:hover {
  color: #039dff;
}

.aboutst-hero {
  position: relative;
  background-image: url("../img/technology-g318c3c5c2_640.jpg");
  background-size: cover;
  background-position: center;
  color: #ddd;
  z-index: 0;
}
.aboutst-hero .aboutus-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -5;
}
.aboutst-hero .aboutus-hero-item {
  margin: 10px 0;
}
.aboutst-hero i {
  font-size: 36px;
}
.aboutst-hero .aboutus-hero-title {
  font-size: 24px;
}

.portfolio .carousel-item {
  height: 600px;
}
.portfolio .carousel-caption {
  left: 0;
  right: 0;
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.portfolio .carousel-indicators {
  padding-bottom: 20px;
}

.prices .price-box {
  margin: 20px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: scale 0.4s;
}
.prices .price-box span {
  font-weight: bold;
}
.prices .price-box i {
  padding: 0 5px;
  font-size: 20px;
}
.prices .price-box button {
  padding: 10px 20px;
  text-transform: uppercase;
}
.prices .price-title {
  color: #039dff;
  text-transform: uppercase;
  font-size: 20px;
}
.prices .price-tag {
  font-weight: bold;
}
.prices .price-box:hover {
  scale: 1.05;
}
.prices .price-info {
  margin-top: 30px;
}
.prices a {
  text-decoration: none;
}

@media (min-width: 768px) {
  .hero-text h1 {
    font-size: 42px;
  }
  .hero-text p {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }
  .aboutst-hero {
    background-image: url("../img/technology-gf41a0fae8_1920.jpg");
  }
}
@media (min-width: 1200px) {
  header.hero-img {
    background-image: url(../img/network-2402637_1920.jpg);
  }
}
.btn {
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */