* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


body{
    
    font-family:sans-serif, 'montserrat';
    color: #fff;
    background-color: #333;
    font-size: 36px;

}
hr{
    margin: 30px 0;
}

div section p{
    color: lime;
}
div ~ p {
    color: lime;
}

