:root {
  --main-color: lime 
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #333;
  font-family: sans-serif;
}
.box {
  margin: 20px auto;
  width: 50%;
  height: 60px;
  border: 3px solid black;
  border-radius: 25px;
}
.color1{
  background-color: aqua;
}
.color2 {
  background-color: var(--main-color);
}
.color3{
  background-color: aqua;
}
.color4{
  background-color: var(--main-color);
}
.color5{
  background-color: aqua;
}
.color6{
  background-color: var(--main-color);
}
.color7{
  background-color: aqua;
}
.color8{
  background-color: var(--main-color);
}
