* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr: #222;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}
.container .card {
  position: relative;
  width: 320px;
  height: 250px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.3s;
}
.container .card:hover{
  height: 350px;
}
.container .card .imgBx{
  position: absolute;
  inset: 20px 20px 20px 20px ;
  background: #2bd4be;
  border-radius: 15px;
  transition: .3s;
}
.container .card:hover .imgBx{
  inset: -50px 60px 250px 60px;
}