/* colory do projektów */
:root {
    /* Colors */
    --White: #fff;
    --DarkWhiteBcg: #fafafa;
    --main: linear-gradient(
      to left bottom,
      #7d62f2,
      #7f65ee,
      #8168ea,
      #836ae6,
      #856de2,
      #8a6cdc,
      #8f6bd6,
      #936ad0,
      #9a65c7,
      #9f60be,
      #a45bb5,
      #a757ac
    );
  
    --secondary: linear-gradient(
      to right bottom,
      #fd4d3e,
      #fe315c,
      #f61a7a,
      #e51b97,
      #c830b3
    );
  
    --textColor: #4c4486;
    --textLightColor: #9e9d9d;
  
    /* Colors Hover */
    --mainHover: linear-gradient(
      to left bottom,
      #9e8fdc,
      #9c8cdd,
      #9989dd,
      #9785de,
      #9482de,
      #977fdb,
      #9a7cd8,
      #9d79d5,
      #a576ce,
      #ab74c7,
      #b172c0,
      #b570b9
    );
    --secondaryHover: linear-gradient(
      to right bottom,
      rgba(252, 52, 34, 0.8235294117647058),
      rgba(255, 0, 76, 0.796078431372549),
      rgba(255, 0, 115, 0.7725490196078432),
      rgba(242, 0, 153, 0.8235294117647058),
      rgba(213, 23, 188, 0.796078431372549)
    );
  
    --textColorHover: #26224b;
  


    /* Box shadow style */
    --shadow: rgba(0, 0, 0, 0.062) 0px 3px 5px;
  


    /* Box shadow hovers */
    --shadowHover: rgba(143, 143, 143, 0.212) 0px 5px 15px;
  



    /* Animation states */
    --shadowAnimationStart: rgba(240, 46, 170, 0.4) 0px 0px,
      rgba(240, 46, 170, 0.3) 0px 0px, rgba(240, 46, 170, 0.2) 0px 0px,
      rgba(240, 46, 170, 0.1) 0px 0px, rgba(240, 46, 170, 0.05) 0px 0px;
    --shadowAnimationEnd: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  }

  :root{
    /*most common colors */

    --whit:#ffffff;
    --red: rgb(252, 14, 14);
    --black: rgb(0, 0, 0);
    --green: rgb(8, 252, 8);
  }