body {
    padding: 9px;
    display: inline-block;

}
p{
    text-decoration: solid;
    background-color: aliceblue;
}
a{
    text-decoration: none;
}
nav{
    padding: 99;
    ul{
        background: beige;

    }
    div{
        h2{
            display: block;
            image-rendering: auto;
        }
    }
}

