@use './colors.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  background-color: #333;
}
// .navbar-nav {
//   justify-content: space-between;
//   align-items: center;
//   display: flex;
// }

nav {
  .navbar-brand,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show,
  .navbar-toggler,
  .nav-link .fa-bars {
    color: $white;
    text-transform: uppercase;
  }
}
.nav-link:focus,
.nav-link:hover {
  color: $main-color;
}
