@use "./colors.scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-padding-top: 74px;
}

body {
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
  background-color: $bg-color;
}

.blue-text {
  color: $main-color;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.section-title {
  text-align: center;
  text-transform: uppercase;
}
.underline {
  margin: 0 auto 40px;
  width: 60px;
  height: 4px;
  background-color: $main-color;
}
nav {
  text-transform: uppercase;
  transition: background-color 0.6s;
  z-index: 5;
  .navbar-brand,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show,
  .navbar-toggler,
  .nav-link .fa-bars {
    color: $white;
    text-transform: uppercase;
  }
  .nav-link {
    color: $white;
  }

  .navbar-brand:hover {
    font-weight: bold;
    color: $main-color;
  }
  .navbar-toggler {
    padding: 10px 15px;
    transition: 0.4s;
  }
  .navbar-toggler:hover {
    color: $main-color;
  }
  // .navbar-toggler:active{
  //   background-color: $main-color;
  // }
}

.nav-link:focus,
.nav-link:hover {
  color: $main-color;
  transition: 0.5s;
}

.hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/network-2402637_640.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $white;
  z-index: 0;
  h1 {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: -5;
  }
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
  }

  .fa-chevron-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    font-size: 30px;
    color: $white;
  }
}

.aboutus {
  i {
    margin-top: 20px;
    font-size: 30px;
  }
  .aboutus-card-title {
    font-size: 18px;
    text-transform: uppercase;
  }
  .aboutus-card-text {
    font-size: 14px;
  }

  .aboutus-hover {
    transition: color 0.4s;
  }

  .aboutus-hover:hover {
    color: $main-color;
  }
}
.aboutst-hero {
  position: relative;
  background-image: url("../img/technology-g318c3c5c2_640.jpg");
  background-size: cover;
  background-position: center;
  color: $light-gray;
  z-index: 0;

  .aboutus-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -5;
  }

  .aboutus-hero-item {
    margin: 10px 0;
  }
  i {
    font-size: 36px;
  }

  .aboutus-hero-title {
    font-size: 24px;
  }
}
.portfolio {
  .carousel-item {
    height: 600px;
  }
  .carousel-caption {
    left: 0;
    right: 0;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .carousel-indicators {
    padding-bottom: 20px;
  }
}
.prices {
  .price-box {
    margin: 20px;
    background-color: $white;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transition: scale 0.4s;

    span {
      font-weight: bold;
    }

    i {
      padding: 0 5px;
      font-size: 20px;
    }
    button {
      padding: 10px 20px;
      text-transform: uppercase;
    }
  }
  .price-title {
    color: $main-color;
    text-transform: uppercase;
    // font-weight: bold;
    font-size: 20px;
  }

  .price-tag {
    font-weight: bold;
  }

  .price-box:hover {
    scale: 1.05;
    // transition: 0.4s;
  }
  .price-info {
    margin-top: 30px;
  }
  a {
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .hero-text {
    h1 {
      font-size: 42px;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 992px) {
  html {
    scroll-padding-top: 72px;
  }

  .aboutst-hero {
    background-image: url("../img/technology-gf41a0fae8_1920.jpg");
  }
}

.team {
  position: relative;
  background-image: url("../img/team/meeting-room-828547_1920.jpg");
  background-size: cover;
  background-attachment: fixed;

  .section-title{
    color: $light-gray;
  }

  .team-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -5;
  }

  .card{

    transition: scale .3s;
    img{
      height: 300px;
      object-fit: cover;
    }
    i {
      padding: 10px;
    }
  }

  .card:hover{
    scale: .96;
  }

  .card-title {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  
  }
}

//dodanie grafiki na wieksze ekrany
@media (min-width: 1200px) {
  header.hero-img {
    background-image: url(../img/network-2402637_1920.jpg);
  }
}
.btn {
  text-transform: uppercase;
}
